<div class="login-conteiner">
    <div class="login-window">

        <div class="login-window-title">
            <h2>Login</h2>
            <a routerLink="/"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m9 7l2 5l-2 5h2l1-2.5l1 2.5h2l-2-5l2-5h-2l-1 2.5L11 7H9m3-5a10 10 0 0 1 10 10a10 10 0 0 1-10 10A10 10 0 0 1 2 12A10 10 0 0 1 12 2Z"/></svg></a>
        </div>
        <div class="login-window-form">
            <form>
                <input type="text" class="user" placeholder="User" [(ngModel)]="user" name="username">
                <input type="password" class="password" placeholder="Password" [(ngModel)]="pass" name="password">
                <input type="submit" value="login" class="submit-button" (click)="login()">
            </form>
        </div>
    </div>
</div>
