<div class="page-conteiner">
    <div class="admin-nav">
        <h2>Administration page</h2>
        <a routerLink="/">Logout</a>
    </div>

    <div class="admin-window">
        <div class="admin-card">

            <div class="admin-header">

                <h3 class="admin-title">Header</h3>

                <form>
                    <input id="input-header-name" type="text" class="admin-input" [(ngModel)]="headerData.name" name="name">
                    <input id="input-header-profession"type="text" class="admin-input" [(ngModel)]="headerData.profession" name="profession">
                    <textarea id="input-header-description" type="text" class="admin-textarea admin-input" [(ngModel)]="headerData.description" name="description"></textarea>
                    <input id="input-header-img" type="text" class="admin-input" [(ngModel)]="headerData.img" name="img">
                    <button id="input-header-save" class="admin-save" (click)="updatePerson()">Save</button>
                </form>

            </div>

            <div class="admin-education">

                <h3 class="admin-title">Education</h3>

                <div class="education-conteiner" *ngFor=" let education of bufferEducation">
                    <form>
                        <input type="text" class="admin-input" [(ngModel)]="education.name" placeholder="Name" name="name">
                        <input type="text" class="admin-input" [(ngModel)]="education.title" placeholder="Title" name="title">
                        <input type="text" class="admin-input" [(ngModel)]="education.state" placeholder="State" name="state">
                        <input type="text" class="admin-input" [(ngModel)]="education.average" placeholder="Averge" name="average">
                        <input type="text" class="admin-input" [(ngModel)]="education.link" placeholder="Link" name="link">
                        <input type="submit" value="Delete" class="admin-save admin-delete" (click)="deleteEducation(education.id)">
                        <input type="submit" value="Save" class="admin-save" (click)="updateEducation (education, education.id)">
                    </form>
                </div>

                <div class="conteiner-add">
                    <input type="submit" value="Add" class="admin-save admin-add" (click)=toggleMenuEducation()>
                </div>

                <ng-container *ngTemplateOutlet="educationtemplate; context: { isOpen: isMenuOpenEducation }"></ng-container>

                <ng-template #educationtemplate let-isOpen="isOpen">

                    <form *ngIf="isOpen"> 
                        <input type="text" class="admin-input" [(ngModel)]="educationData.name" placeholder="Name" name="name">
                        <input type="text" class="admin-input" [(ngModel)]="educationData.title" placeholder="Title" name="title">
                        <input type="text" class="admin-input" [(ngModel)]="educationData.state" placeholder="State" name="state">
                        <input type="text" class="admin-input" [(ngModel)]="educationData.average" placeholder="Averge" name="average">
                        <input type="text" class="admin-input" [(ngModel)]="educationData.link" placeholder="Link" name="link">
                        <input type="submit" value="Save" class="admin-save" (click)="createEducation()">
                    </form>

                </ng-template>
                
            </div>

            <div class="admin-project">

                <h3 class="admin-title">Recent projects</h3>

                <form class="project-conteiner" *ngFor=" let project of bufferProject">
                        <input type="text" class="admin-input" [(ngModel)]="project.title" placeholder="Name" name="title">
                        <input type="text" class="admin-input" [(ngModel)]="project.description" placeholder="Description" name="description">
                        <input type="text" class="admin-input" [(ngModel)]="project.link" placeholder="Link" name="link">
                        <input type="text" class="admin-input" [(ngModel)]="project.img" placeholder="Img" name="img">
                        <input type="submit" value="Delete" class="admin-save admin-delete" (click)="deleteProject(project.id)">
                        <input type="submit" value="Save" class="admin-save" (click)="updateProject(project, project.id)">
                </form>
                
                <div class="conteiner-add"> 
                    <input type="submit" value="Add" class="admin-save" (click)=toggleMenuProject()>
                </div>

                <ng-container *ngTemplateOutlet="projecttemplate; context: { isOpen: isMenuOpenProject }"></ng-container>

                <ng-template #projecttemplate let-isOpen="isOpen">

                    <form *ngIf="isOpen"> 
                        <input type="text" class="admin-input" [(ngModel)]="projectData.title" placeholder="Name" name="title">
                        <input type="text" class="admin-input" [(ngModel)]="projectData.description" placeholder="Description" name="description">
                        <input type="text" class="admin-input" [(ngModel)]="projectData.link" placeholder="Link" name="link">
                        <input type="text" class="admin-input" [(ngModel)]="projectData.img" placeholder="Img" name="img">
                        <input type="submit" value="Save" class="admin-save" (click)="createProject()">
                    </form>

                </ng-template>

            </div>

            <div class="admin-contact">

                <h3 class="admin-title">Footer</h3>

                <form>
                    <input type="text" class="admin-input" [(ngModel)]="contactData.home" name="home">
                    <input type="text" class="admin-input" [(ngModel)]="contactData.location" name="location">
                    <input type="text" class="admin-input" [(ngModel)]="contactData.phone" name="phone">
                    <input type="text" class="admin-input" [(ngModel)]="contactData.email" name="email">
                    <input type="text" class="admin-input" [(ngModel)]="contactData.instagram" name="instagram">
                    <input type="text" class="admin-input" [(ngModel)]="contactData.twitter" name="twitter">
                    <input type="text" class="admin-input" [(ngModel)]="contactData.linkedin" name="linkedin">
                    <input type="text" class="admin-input" [(ngModel)]="contactData.github" name="github">
                    <button id="input-header-save" class="admin-save" (click)="updateFooter ()">Save</button>
                </form>

            </div>

        </div>
    </div>
</div>

