<div class="page-conteiner">
    <div class="admin-nav">
        <h2>Administration page</h2>
        <a routerLink="/">Logout</a>
    </div>

    <div class="admin-window">
        <div class="admin-card">

            <div class="admin-header">

                <h3 class="admin-title">Header</h3>

                <form>
                    <input type="text" class="admin-input" [value]="buffer?.header.name" name="name">
                    <input type="text" class="admin-input" [value]="buffer?.header.profession" name="profession">
                    <textarea type="text" class="admin-textarea admin-input" [value]="buffer?.header.description" name="description"></textarea>
                    <input type="submit" value="Save" class="admin-save">
                </form>

            </div>

            <div class="admin-education">

                <h3 class="admin-title">Education</h3>

                <div class="education-conteiner" *ngFor=" let education of buffer?.education">
                    <form>
                        <input type="text" class="admin-input" [value]="education.name" placeholder="Name" name="name">
                        <input type="text" class="admin-input" [value]="education.tittle" placeholder="Title" name="title">
                        <input type="text" class="admin-input" [value]="education.state" placeholder="State" name="state">
                        <input type="text" class="admin-input" [value]="education.average" placeholder="Averge" name="average">
                        <input type="text" class="admin-input" [value]="education.link" placeholder="Link" name="link">
                        <input type="submit" value="Delete" class="admin-save admin-delete">
                        <input type="submit" value="Save" class="admin-save">
                    </form>
                </div>

                <div class="conteiner-add">
                    <input type="submit" value="Add" class="admin-save admin-add" (click)=toggleMenuEducation()>
                </div>

                <ng-container *ngTemplateOutlet="educationtemplate; context: { isOpen: isMenuOpenEducation }"></ng-container>

                <ng-template #educationtemplate let-isOpen="isOpen">

                    <form *ngIf="isMenuOpenEducation"> 
                        <input type="text" class="admin-input" [value]="" placeholder="Name" name="name">
                        <input type="text" class="admin-input" [value]="" placeholder="Title" name="title">
                        <input type="text" class="admin-input" [value]="" placeholder="State" name="state">
                        <input type="text" class="admin-input" [value]="" placeholder="Averge" name="average">
                        <input type="text" class="admin-input" [value]="" placeholder="Link" name="link">
                        <input type="submit" value="Save" class="admin-save">
                    </form>

                </ng-template>
                
            </div>

            <div class="admin-project">

                <h3 class="admin-title">Recent projects</h3>

                <form>
                    <div class="project-conteiner" *ngFor=" let projects of buffer?.recentProjects">
                        <input type="text" class="admin-input" [value]="projects.tittle" placeholder="Name" name="title">
                        <input type="text" class="admin-input" [value]="projects.description" placeholder="Description" name="description">
                        <input type="text" class="admin-input" [value]="projects.link" placeholder="Link" name="link">
                        <input type="text" class="admin-input" [value]="projects.img" placeholder="Img" name="img">
                        <input type="submit" value="Delete" class="admin-save admin-delete">
                        <input type="submit" value="Save" class="admin-save">
                    </div>
                </form>
                
                <div class="conteiner-add"> 
                    <input type="submit" value="Add" class="admin-save" (click)=toggleMenuProject()>
                </div>

                <ng-container *ngTemplateOutlet="projecttemplate; context: { isOpen: isMenuOpenProject }"></ng-container>

                <ng-template #projecttemplate let-isOpen="isOpen">

                    <form *ngIf="isMenuOpenProject"> 
                        <input type="text" class="admin-input" [value]="" placeholder="Name" name="title">
                        <input type="text" class="admin-input" [value]="" placeholder="Description" name="description">
                        <input type="text" class="admin-input" [value]="" placeholder="Link" name="link">
                        <input type="text" class="admin-input" [value]="" placeholder="Img" name="img">
                        <input type="submit" value="Save" class="admin-save">
                    </form>

                </ng-template>

            </div>

            <div class="admin-contact">

                <h3 class="admin-title">Footer</h3>

                <form>
                    <input type="text" class="admin-input" [value]="buffer?.contact.home" name="home">
                    <input type="text" class="admin-input" [value]="buffer?.contact.location" name="location">
                    <input type="text" class="admin-input" [value]="buffer?.contact.phone" name="phone">
                    <input type="text" class="admin-input" [value]="buffer?.contact.email" name="email">
                    <input type="text" class="admin-input" [value]="buffer?.contact.instagram" name="instagram">
                    <input type="text" class="admin-input" [value]="buffer?.contact.twitter" name="twitter">
                    <input type="text" class="admin-input" [value]="buffer?.contact.linkedin" name="linkedin">
                    <input type="text" class="admin-input" [value]="buffer?.contact.github" name="github">
                    <input type="submit" value="Save" class="admin-save">
                </form>

            </div>

        </div>
    </div>
</div>

