<nav>

  <div class="nav-left">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m12 2.5l8.84 3.15l-1.34 11.7L12 21.5l-7.5-4.15l-1.34-11.7L12 2.5m0 2.1L6.47 17h2.06l1.11-2.78h4.7L15.45 17h2.05L12 4.6m1.62 7.9h-3.23L12 8.63l1.62 3.87Z"/></svg>
    My Portfolio
  </div>
  
  <ul class="nav-mid">
    <li><a href="#">Home</a></li>
    <li><a href="">Education</a></li>
    <li><a href="">Habilities</a></li>
    <li><a href="">Projects</a></li>
    <li><a href="">Contact</a></li>
  </ul>
  
  <button class="nav-right">Login</button>
  <div class="nav-ham">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M3 18v-2h18v2H3Zm0-5v-2h18v2H3Zm0-5V6h18v2H3Z"/></svg>
  </div>
    
</nav>
